<p id="notice"><%= notice %></p>

<p>
  <b>Cat name:</b>
  <%= @sample_cat.cat_name %>
</p>

<p>
  <b>Featured:</b>
  <%= @sample_cat.featured %>
</p>

<p>
  <b>Description:</b>
  <%= @sample_cat.description %>
</p>


<%= link_to 'Edit', edit_sample_cat_path(@sample_cat) %> |
<%= link_to 'Back', sample_cats_path %>
