<!DOCTYPE html>
<html>
<head>
  <title>Black Sails Studio</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<style type="text/css">
	@media (min-width: 481px) and (max-width: 768px) {
		#wrapper {width: 720px; margin:none;}
		#banner {background: url('/assets/bssbanner768.png'); width: 690px; height: 84px;}
		nav a {padding-right:30px;}
		#welcome {width: 300px;height: 170px;float: left;margin-left: 10px;font-size: medium;font-style: italic;}
		#leftContent {width: 210px;float: left;margin-left: 15px;background: #4c4c4c;padding-top: 10px;margin-bottom: 5px;margin-right:none;min-height: 300px;}
		#leftContent h1 {font-size:large;}
		#webImage {background: url('/assets/wdbanner768.png'); background-repeat: no-repeat; width: 210px; height:105px;}
		#printImage {background: url('/assets/pgdbanner768.png'); background-repeat: no-repeat; width: 210px; height:105px;}
		#brandImage {background: url('/assets/brandbanner768.png'); background-repeat: no-repeat; width: 210px; height:105px;}
		#footer {width:690px;}
		#sliderFrame {width: 420px;float: left;margin-top: 20px;}
		#slider {width:420px;height:252px;background:#fff url(loading.gif) no-repeat 50% 50%;box-shadow: 0px 1px 5px #999999;}
			div.navBulletsWrapper{top:260px;left:120px;width:150px;background:none;position:relative;z-index:5;cursor:pointer;}
	}
	@media (max-width: 320px) {
		#wrapper {width: 300px;}
		#banner {background: url('/assets/bssbanner320.png'); background-repeat: no-repeat; width: 300px; height: 36px;}
		#welcome {width: 140px;height: 400px;float: left;margin-left: 10px;font-size: x-large;font-style: italic;}
		#leftContent {width: 290px;float: left;margin-left: 10px;background: #4c4c4c;margin-bottom: 5px;min-height: 200px;}
		#sliderFrame {width: 140px;float: left;margin-top: 10px;}
		#slider {width:140px;height:70px;background:#fff url(loading.gif) no-repeat 50% 50%;box-shadow: 0px 1px 5px #999999;}
	}
	</style>

  <%= yield(:fck) -%>
</head>
<body>
	<div id="wrapper">
		<header>
			<link rel= "shortcut icon" href="/assets/bssinitials.gif"/>
			<nav>
				<%= render "/layouts/main_nav" %>
			</nav>
			<div id="banner">
			</div>
		</header>
		<%= yield %>
		<footer>
			Black Sails Studio | 210 N Kalamazoo Ave, Marshall MI 49068 | 269.781.0689
		</footer><!--endfooter-->
	</div><!--wrapper-->
</body>
</html>
