<!DOCTYPE html>
<html>
<head>
  <title>Black Sails Studio</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<style type="text/css">
	@media (min-width: 481px) and (max-width: 768px) {
	}
	@media (max-width: 320px) {
	}
	</style>

  <%= yield(:fck) -%>
</head>
<body>
	<div id="wrapper">
		<header>
			<link rel= "shortcut icon" href="/assets/bssinitials.gif"/>
			<div id="banner">
				<%= link_to image_tag('/assets/bssbanner.png'), root_path %>
				<div class="voyages"><%= image_tag('/assets/bssport40.png') %><%= link_to ('Voyages',:controller => 'samples', :action => 'index')%></div>
				<div class="voyages">
				<%= image_tag('/assets/bsscontact40.png') %><%= link_to ('Inquiries',:controller => 'contact_us', :action => 'new') %></div>
				<div class="voyages">
				<%= image_tag('/assets/bssphone40.png') %> (269) 832-1734</div>
				<nav>
					<% if admin? %>
					<%= render "/layouts/admin_nav" %>
					<% end %>
				</nav>
			</div>
		</header>
		<%= yield %>
		<footer>
			<div id="banner">
				<div class="inquiries"><%= image_tag('/assets/bssfb40.png') %><%= link_to ("Facebook", "www.facebook.blacksailsstudio.com", :target => "_blank") %></div>
				<div class="inquiries"><%= image_tag('/assets/bssport40.png') %><%= link_to ('Voyages',:controller => 'samples', :action => 'index')%></div>
				<div class="inquiries">
				<%= image_tag('/assets/bsscontact40.png') %><%= link_to ('Inquiries',:controller => 'contact_us', :action => 'new') %></div>
				<div class="inquiries">
				<%= image_tag('/assets/bssphone40.png') %> (269) 832-1734</div>
				<nav>
					<% if admin? %>
					<%= render "/layouts/admin_nav" %>
					<% end %>
				</nav>
				<p>Black Sails Studio | (269) 832-1734 | 210 N Kalamazoo Ave, Marshall MI 49068</p>
			</div>
		</footer><!--endfooter-->
	</div><!--wrapper-->
</body>
</html>
